<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<nav>
		<div id='float-left'>
			<img src="assets/Images/Cusines/Chinese/hakka-noodles.jpg" width="50px" height="50px">
		</div>
		<h4 id='float-left' class='brand-name'>Khana <br> Khazana</h4>
		<input name='home' type="button" value="HOME" routerLink='/home'>
		<input name='recipes' type="button" value="RECIPES" routerLink='/recipes'>
		<input name='about' type="button" value="ABOUT">
		<input name='logout' id='logout' type="button" value="LOGOUT" [routerLink]="['/']">
	</nav>
</body>
</html>